<nb-card size="xlarge">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        Angular Hotel Search
      </div>
      <div class="description">
        Bienvenido a la pagina experimental de busqueda de hoteles, construida completamente en Angular y soportada con Firebase. Puedes buscar y registrar un hotel. Intentalo!
      </div>
    </div>
  </nb-card-body>
</nb-card>
