<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Registra un hotel</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputEmail1" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="inputEmail1" placeholder="Nombre">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword2" class="col-sm-3 col-form-label">Precio</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="inputPassword2" placeholder="Precio">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3">Ubicación</label>
            <div class="col-sm-9">
                  <div class="embed-responsive embed-responsive-9by16 map">
                    <agm-map (mapClick)='onChoseLocation($event)' [zoom]="2" >
                      <agm-marker [latitude]='latitud' [longitude]='longitud' *ngIf='locationChosen'></agm-marker>
                    </agm-map>
                </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3">Rating</label>
              <div class="col-sm-9">
                <ngb-rating [(rate)]="starRate" max=5>
                  <ng-template let-fill="fill">
                    <span class="star fill" [class.filled]="fill === 100">
                    <i class="ion-android-star" *ngIf="fill === 100"></i>
                    <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                    </span>
                  </ng-template>
                </ngb-rating>
                <span class="current-rate">{{ starRate }}</span>
              </div>
          </div>


          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
