<div class="row">
  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-weather></ngx-weather>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-kitten></ngx-kitten>
  </div>
</div>
<div class ="row">
	<div class="col-xxxl-12 col-xxl-12 col-md-7">
		<nb-card size="xlarge">
  			<nb-card-header>
    			<div class="cameras-card-header">
      				<span class="cameras-card-title">Buscar Hoteles </span>
              <input name='nombreHotel' [(ngModel)]="nombreHotelBuscado" [ngModelOptions]="{standalone: true}" class="form-control" id="nombreHotel" placeholder="Ingrese el nombre del hotel que buscas" (input)="onSearchChange($event.target.value)">
    			</div>
  			</nb-card-header>
  			<nb-card-body>
              <div *ngIf="hotelesFiltrados?.length" class="lista">
              <div class="box" *ngFor="let hotel of hotelesFiltrados">
                <div class="container">
                <div class="row show-grid">
                  <div class="col-6 col-sm-4">
                    <p class="fontHotelName"> {{ hotel.nombre }}</p>
                  </div>
                  <div class="col-6 col-sm-4">
                      <ngb-rating [(rate)]="hotel.rating" max=5>
                        <ng-template let-fill="fill">
                          <span class="star fill" [class.filled]="fill === 100">
                            <i class="ion-android-star" *ngIf="fill === 100"></i>
                            <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                          </span>
                        </ng-template>
                      </ngb-rating>
                    <span class="current-rate">{{ hotel.rating }}</span>
                  </div>
                  <div class="col-6 col-sm-4">
                    <button type="button" class="btn btn-success btn-lg" (click)="open(content, hotel)">Ver más ></button>
                  </div>
                </div>
                
                <div class="row show-grid">
                  <div class="col-12 col-sm-6 col-md-8">
                      <agm-map [latitude]=hotel.latitud [longitude]=hotel.longitud [zoom]="4">
                        <agm-marker [latitude]=hotel.latitud [longitude]=hotel.longitud>
                        </agm-marker>
                      </agm-map>   
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="boxPrice">
                      <p class="font">Precio por habitación</p>
                      <p class="fontPrice">{{ hotel.precio | currency: $}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
		  </nb-card>
	 </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <span>{{ selectedHotel.nombre }}</span>
      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body">
    <div class="row show-grid">
      <div class="col-6 col-sm-4">
        <p class="fontHotelName"> {{ selectedHotel.nombre }}</p>
          </div>
          <div class="col-6 col-sm-4">
          <ngb-rating [(rate)]="selectedHotel.rating" max=5>
            <ng-template let-fill="fill">
              <span class="star fill" [class.filled]="fill === 100">
                <i class="ion-android-star" *ngIf="fill === 100"></i>
                <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
              </span>
            </ng-template>
          </ngb-rating>
      </div>
      <div class="col-6 col-sm-4">
      <span class="current-rate">{{ selectedHotel.rating }}</span>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-12 col-sm-6 col-md-8">
        <div class="boxMap">
          <agm-map [latitude]=selectedHotel.latitud [longitude]=selectedHotel.longitud [zoom]="4">
            <agm-marker [latitude]=selectedHotel.latitud [longitude]=selectedHotel.longitud>
            </agm-marker>
          </agm-map>  
        </div> 
      </div>
      <div class="col-6 col-md-4">
        <div class="boxPrice">
          <p class="font">Precio por habitación</p>
          <p class="fontPrice">{{ selectedHotel.precio | currency: $}}</p>
        </div>
      </div>
    </div>


  </div>
</ng-template>
